{{ define "base" }}
<!doctype html>
<html>
<head>
<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
  <script src="https://cdn.jsdelivr.net/npm/htmx.org@2/dist/htmx.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  <title>{{ block "title" . }}Default Title{{ end }}</title>
</head>
<body>
  <header class="container">
    <div class="grid">
	    <a href="/" role="button">Home</a>
	    <a href="/items/new" role="button">New</a>
    <div>
  </header>
  <main class="container">
  	{{ block "content" . }}{{ end }}
  </main>
  <footer></footer>
  {{ block "scripts" . }}{{ end }}
</body>
</html>
{{ end }}
